//@font-face {
//  font-family: "Ooredoo";
//  src: url("../fonts/ooredoo-regular.woff2") format("woff2"),
//  url("../fonts/ooredoo-regular.woff") format("woff");
//  font-weight: normal;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: "Ooredoo";
//  src: url("../fonts/ooredoo-bold.woff2") format("woff2"),
//  url("../fonts/ooredoo-bold.woff") format("woff");
//  font-weight: bold;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: "Ooredoo";
//  src: url("../fonts/ooredoo-light.woff2") format("woff2"),
//  url("../fonts/ooredoo-light.woff") format("woff");
//  font-weight: 300;
//  font-style: normal;
//}