html {
  font-size: 16px;
}

html, body {
  height: 100vh;
  overflow: hidden;
  &:not(.has-transparent) {
    background: #fff;
  }
}

body, .application {
    font-family: Roboto, sans-serif !important;
}

.application-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
  overflow: hidden;
}

.application {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  overflow-y: auto;
}

// Helpers
.text-wrap {
  white-space: normal;
}