<template>
  <v-app id="home" class="primary" dark>
    <status-bar />
    <the-header />
    <v-container>
      <v-toolbar class="mb-5" color="white" dense flat light>
        <v-text-field
          v-model="search"
          class="mt-2"
          color="secondary"
          label="Search"
          append-icon="search"
          clearable
          flat
          solo
        ></v-text-field>
      </v-toolbar>
      <div class="lists">
        <v-card v-for="item in items" :key="item.id" class="mb-4" light>
          <v-img :src="item.image"> </v-img>
          <v-card-title primary-title>
            <div>
              <div class="headline">{{ item.name }}</div>
              <p class="grey--text text--darken-2">ID: {{ item.identity }}</p>
              <p class="grey--text text--darken-2">
                Dikunjungi Tanggal {{ item.visit_date }}
              </p>
              <p class="grey--text text--darken-2">{{ item.address }}</p>
            </div>
          </v-card-title>
          <v-card-actions>
            <v-btn flat color="secondary" @click="showDetail(item.id)">
              Detail
            </v-btn>
          </v-card-actions>
        </v-card>
        <div v-if="next" class="text-xs-center">
          <v-btn color="secondary" round large @click="loadMore"
            >Load More</v-btn
          >
        </div>
      </div>
    </v-container>
    <preloader :show="loading" fixed />
    <v-btn
      ref="newEntryBtn"
      class="v-btn--new-entry"
      color="secondary"
      @click="() => $router.push('/entry/add')"
      fixed
      dark
      fab
      bottom
      right
    >
      <v-icon>add</v-icon>
    </v-btn>
  </v-app>
</template>

<script>
import Auth from "@/api/auth";

export default {
  path: "/hello",
  name: "home",
  data: () => ({
    loading: false,
    showMyBooking: false,
    shouldCheckIn: false,
    shouldCheckOut: false,
    items: [],
    next: null,
    search: null
  }),
  watch: {
    search(value) {
      this.searching(value);
    }
  },
  methods: {
    showDetail(id) {
      this.$router.push({ name: "detail-entry", params: { id } });
    },
    fetchData() {
      this.loading = true;
      this.$request
        .get("/merchants")
        .then(({ data }) => {
          this.items = data.data;
          this.next = data.links.next;
          this.loading = false;
        })
        .catch(this.onLoadError);
    },
    loadMore() {
      if (this.next) {
        this.loading = true;
        this.$request
          .get(this.next)
          .then(({ data }) => {
            this.items = this.items.concat(data.data);
            this.next = data.links.next;
            this.loading = false;
          })
          .catch(this.onLoadError);
      }
    },
    onLoadError(error) {
      if (error.response === undefined) {
        this.logout();
      }
      this.$swal({
        title: "Oops!",
        text: error.response.data.message,
        type: "error"
      });
    },
    logout() {
      Auth.logout().then(() => {
        this.$router.push("/login");
      });
    },
    searching(q) {
      this.loading = true;
      this.$request
        .get("/merchants?q=" + q)
        .then(({ data }) => {
          this.items = data.data;
          this.next = data.links.next;
          this.loading = false;
        })
        .catch(this.onLoadError);
    }
  },
  created() {
    this.fetchData();
  },
  mounted() {
    const newEntryBtn = this.$refs.newEntryBtn.$el;

    if (!document.querySelector("body > .v-btn--new-entry")) {
      document.body.appendChild(newEntryBtn);
    }
  },
  destroyed() {
    const newEntryBtn = document.querySelector("body > .v-btn--new-entry");

    if (newEntryBtn) {
      newEntryBtn.remove();
    }
  }
};
</script>
