<template>
  <v-app class="login primary" dark>
    <v-container fill-height>
      <v-layout align-center justify-center>
        <v-flex xs12 sm8 md4 style="margin-top: -100px;">
          <div class="text-xs-center pt-5 mt-3 mb-4">
            <h1 class="mb-4">Login SixPerience</h1>
          </div>
          <form autocomplete="off" action="" class="login__form">
            <v-alert :value="error" type="error" class="mb-3">
              {{ error_message }}
            </v-alert>
            <v-text-field
              v-model="username"
              label="Username/Email"
              color="white"
              autocomplete="off"
              v-validate="'required'"
              :error-messages="errors.collect('username')"
              data-vv-name="username"
              required
            ></v-text-field>
            <v-text-field
              v-model="password"
              :append-icon="showPassword ? 'visibility_off' : 'visibility'"
              :type="showPassword ? 'text' : 'password'"
              label="Password"
              color="white"
              @click:append="showPassword = !showPassword"
              autocomplete="new-password"
              v-validate="'required'"
              :error-messages="errors.collect('password')"
              data-vv-name="password"
              required
            ></v-text-field>
            <v-btn
              color="secondary"
              class="mt-3"
              block
              round
              large
              @click="login"
              :disabled="loading"
              >Login</v-btn
            >
          </form>
        </v-flex>
      </v-layout>
    </v-container>
    <status-bar :color="$vuetify.theme.primary" />
    <preloader :show="loading" fixed with-overlay />
  </v-app>
</template>

<script>
import auth from "@/api/auth";

export default {
  data: () => ({
    username: "",
    password: "",
    showPassword: false,
    loading: false,
    error: false,
    error_message: ""
  }),
  methods: {
    login() {
      this.$validator.validateAll().then(this.onValidate);
    },
    onValidate(valid) {
      if (valid) {
        const credentials = {
          username: this.username,
          password: this.password
        };

        this.loading = true;

        auth
          .login(credentials)
          .then(this.onLoginSuccess)
          .catch(this.onLoginFailed);
      }
    },
    onLoginSuccess({ user }) {
      this.loading = false;
      localStorage.setItem("me", JSON.stringify(user));
      this.$router.push("/");
    },
    onLoginFailed({ data }) {
      this.error = true;
      this.error_message = data.message;
      this.loading = false;
    }
  }
};
</script>
