<template>
  <div class="mb-3">
    <div class="capture mb-2" :class="{ 'has-invalid': hasErrorMessage }">
    <div v-if="readonly" class="capture__preview">
      <img :src="value" alt="">
    </div>
    <template v-else>
      <div v-show="finish" class="capture__preview">
        <canvas ref="imgPreview"></canvas>
      </div>
      <div class="text-xs-center">
        <vue-circle
            v-if="loading"
            ref="progress"
            class="capture__progress"
            :progress="0"
            :size="44"
            :reverse="false"
            line-cap="round"
            :fill="fill"
            empty-fill="rgba(0, 0, 0, .1)"
            :animation-start-value="0.0"
            :start-angle="0"
            insert-mode="append"
            :thickness="5"
            :show-percent="true"
        ></vue-circle>
        <v-btn
            v-else
            :color="color"
            @click="takePicture"
            icon
            large
            round
            depressed
        >
          <v-icon>camera_alt</v-icon>
        </v-btn>
      </div>
    </template>
  </div>
    <div class="v-text-field__details">
      <div class="v-messages theme--light error--text">
        <div class="v-messages__wrapper">
          <div class="v-messages__message" v-if="errorMessages">{{ errorMessages[0] }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VueCircle from "vue2-circle-progress/src/index.vue";
import {
  Plugins,
  CameraResultType,
  CameraSource,
  CameraDirection
} from "@capacitor/core";

const { Camera } = Plugins;

export default {
  components: {
    VueCircle
  },
  $_veeValidate: {
    name() {
      return this.label;
    },
    value() {
      return this.value;
    }
  },
  props: {
    value: String,
    label: String,
    color: {
      type: String,
      default: "primary"
    },
    readonly: {
      type: Boolean,
      default: false
    },
    errorMessages: {}
  },
  
  data: () => ({
    loading: false,
    finish: false,
    fill: { color: "#07B3BA" }
  }),
  computed: {
    hasErrorMessage() {
      if (this.errorMessages) {
        return this.errorMessages.length;
      } else {
        return 0;
      }
    }
  },
  methods: {
    async takePicture() {
      const image = await Camera.getPhoto({
        quality: 75,
        allowEditing: false,
        correctOrientation: true,
        resultType: CameraResultType.Uri,
        direction: CameraDirection.Rear,
        source: CameraSource.Camera,
        saveToGallery: true,
        width: 600
      });

      this.upload(image);
    },
    async upload(image) {
      const blob = await fetch(image.webPath).then(r => r.blob());

      this.compress(blob)
        .then(this.onCompressSuccess)
        .catch(this.onCompressError);
    },
    compress(file) {
      return new Promise((resolve, reject) => {
        const canvas = this.$refs.imgPreview;
        const ctx = canvas.getContext("2d");
        const now = new Date();
        const width = 600;
        const height = 800;
        const fileName = "IMG_" + now.getTime() + ".jpg";
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = event => {
          const img = new Image();
          img.src = event.target.result;
          (img.onload = () => {
            canvas.width = width;
            canvas.height = height;
            // clear prev image
            ctx.clearRect(0, 0, width, height);
            // img.width and img.height will contain the original dimensions
            ctx.drawImage(img, 0, 0, width, height);
            ctx.canvas.toBlob(
              blob => {
                const file = new File([blob], fileName, {
                  type: "image/jpeg",
                  lastModified: Date.now()
                });
                resolve(file);
              },
              "image/jpeg",
              1
            );
          }),
            (reader.onerror = error => reject(error));
        };
      });
    },
    onCompressSuccess(file) {
      const headers = {
        "Content-Type": "multipart/form-data"
      };
      const formData = new FormData();
      formData.append("file", file);

      this.loading = true;

      this.$emit("start");

      this.$request
        .post("/image/upload", formData, {
          headers,
          onUploadProgress: this.onUploadProgress
        })
        .then(this.onUploadSuccess)
        .catch(this.onUploadError);
    },
    onCompressError(error) {
      this.$swal({
        title: "Oops!",
        text: error,
        type: "error"
      });
    },
    onUploadProgress(progressEvent) {
      const progressEl = this.$refs.progress;
      let progress = parseInt(
        Math.round((progressEvent.loaded * 100) / progressEvent.total)
      );

      if (progressEl) progressEl.updateProgress(progress);
    },
    onUploadSuccess({ data }) {
      this.finish = true;
      this.loading = false;

      this.$emit("input", data);
      this.$emit("finish");
    },
    onUploadError(error) {
      let message = "Can't upload image to server, please try again!";
      if (error.response.data.message) {
        message = error.response.data.message;
      }

      this.$swal({
        title: "Oops!",
        text: message,
        type: "error"
      });

      this.loading = false;
    }
  }
};
</script>
