<template>
  <v-dialog
    ref="dialog"
    v-model="modal"
    :return-value.sync="date"
    persistent
    lazy
    full-width
    width="290px"
    light
  >
    <v-text-field
      slot="activator"
      :value="dateFormated"
      :label="label"
      :placeholder="placeholder"
      :color="color"
      :error-messages="errorMessages"
      append-icon="event"
      readonly
      :box="box"
    ></v-text-field>
    <v-date-picker
      @input="onDatePick"
      v-model="date"
      :min="min"
      :max="max"
      :type="type"
      scrollable
      light
    >
      <v-spacer></v-spacer>
      <v-btn flat color="secondary" @click="modal = false">Cancel</v-btn>
    </v-date-picker>
  </v-dialog>
</template>

<script>
import format from "date-fns/format";

export default {
  $_veeValidate: {
    name() {
      return this.label;
    },
    value() {
      return this.value;
    }
  },

  props: {
    value: String,
    min: {},
    max: {},
    color: String,
    label: String,
    placeholder: String,
    box: Boolean,
    type: {
      type: String,
      default: "date"
    },
    format: {
      type: String,
      default: "YYYY-MM-DD"
    },
    errorMessages: [String, Array, Object]
  },
  data: () => ({
    modal: false,
    date: null
  }),
  computed: {
    dateFormated() {
      return this.date ? format(this.date, this.format) : "";
    }
  },
  watch: {
    date(value) {
      this.$emit("input", value);
    },
    value(value) {
      this.date = value;
    }
  },
  mounted() {
    if (this.value) this.date = this.value;
  },
  methods: {
    show() {
      this.modal = true;
    },
    hide() {
      this.modal = false;
    },
    onDatePick() {
      this.$refs.dialog.save(this.date);
      this.modal = false;
    }
  }
};
</script>
