<template>
  <a href="#" class="menu" @click.prevent="onClick">
    <img :src="icon" :alt="label" class="menu__icon" />
    <span class="menu__label">{{ label }}</span>
  </a>
</template>

<script>
import Vue from "vue";

export default {
  props: {
    icon: String,
    label: String,
    link: String
  },
  methods: {
    onClick() {
      this.$router.push(this.link);
    }
  }
};
</script>

<style lang="scss" scoped>
.menu {
  display: flex;
  align-items: center;
  padding: 20px 15px;
  // border-bottom: 1px solid rgba(0,0,0,0.4);
  color: #000;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &__icon {
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }
}
</style>
