<template>
  <div>
    <div
      ref="loader"
      v-show="show"
      :class="['loader', { 'has-overlay': withOverlay, 'is-fixed': fixed }]"
    >
      <div class="loader__indicator">
        <svg
          viewBox="0 0 38 38"
          xmlns="http://www.w3.org/2000/svg"
          stroke="#fff"
        >
          <g fill="none" fill-rule="evenodd">
            <g transform="translate(1 1)" stroke-width="2">
              <circle stroke-opacity=".5" cx="18" cy="18" r="18" />
              <path d="M36 18c0-9.94-8.06-18-18-18">
                <animateTransform
                  attributeName="transform"
                  type="rotate"
                  from="0 18 18"
                  to="360 18 18"
                  dur="1s"
                  repeatCount="indefinite"
                ></animateTransform>
              </path>
            </g>
          </g>
        </svg>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    show: {
      type: Boolean,
      default: false
    },
    withOverlay: {
      type: Boolean,
      default: false
    },
    delay: {
      type: Number,
      default: 300
    },
    fixed: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      showIndicator: false
    };
  },
  watch: {
    show(value) {
      setTimeout(() => {
        this.showIndicator = value;
      }, this.delay);

      if (value) {
        document.documentElement.style.overflow = "hidden";
      } else {
        document.documentElement.style.overflow = "visible";
      }
    }
  },
  mounted() {
    const loader = this.$refs.loader;

    if (this.fixed && !document.querySelector("body > .loader")) {
      document.body.appendChild(loader);
    }
  },
  destroyed() {
    const loader = document.querySelector("body > .loader");
    if (loader) {
      loader.remove();
    }
  }
};
</script>

<style lang="scss" scoped>
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  width: 100%;
  min-height: 5rem;

  &.is-fixed {
    position: fixed;
    width: 100vw;
    height: 100vh;
  }

  &.has-overlay {
    background: rgba(#000, 0.5);
  }
}

.loader__indicator {
  font-size: 2.2rem;
  width: 2.2rem;
  height: 2.2rem;
  line-height: 1;
}

.loader > svg {
  width: 1em;
  height: 1em;
}
</style>
