<template>
  <div class="select-dialog">
    <div class="select-dialog__trigger" @click="showModal">
      <v-text-field
        :value="displaySelectedText"
        :label="label"
        :placeholder="placeholder"
        :append-icon="appendIcon"
        :disabled="disabled"
        :error-messages="errorMessages"
        readonly
        :box="box"
      ></v-text-field>
    </div>
    <v-dialog
      ref="dialog"
      v-model="modal"
      width="290px"
      attach="body"
      full-width
      scrollable
    >
      <v-card ref="dialogBody" class="v-select-dialog" light>
        <v-card-title>{{ label ? label : placeholder }}</v-card-title>
        <v-divider></v-divider>
        <v-card-text
          ref="list"
          class="px-0"
          style="max-height: calc(100vh - 100px);"
        >
          <v-list>
            <template v-for="(item, index) in items">
              <v-list-tile
                :key="index"
                @click="selectItem(item)"
                :class="{ 'v-list__tile--active': isActive(item) }"
              >
                <v-list-tile-content>
                  {{ displayText(item) }}
                </v-list-tile-content>
              </v-list-tile>
            </template>
          </v-list>
        </v-card-text>

        <v-divider></v-divider>
        <v-card-actions>
          <v-btn flat color="secondary" @click="hideModal">
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  $_veeValidate: {
    name() {
      return this.label;
    },
    value() {
      return this.value;
    }
  },

  model: {
    prop: "value",
    event: "change"
  },

  props: {
    appendIcon: {
      type: String,
      default: "arrow_drop_down"
    },
    box: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    errorMessages: [String, Array, Object],
    headerOptions: {
      type: Object,
      default() {
        return { color: "primary", flat: true };
      }
    },
    items: {
      type: Array,
      default() {
        return [];
      }
    },
    itemText: {
      type: String,
      default: "text"
    },
    itemValue: {
      type: String,
      default: "value"
    },
    label: String,
    placeholder: String,
    returnObject: {
      type: Boolean,
      default: false
    },
    value: {}
  },

  data: () => ({
    modal: false,
    selected: ""
  }),

  computed: {
    selectedValue() {
      if (this.selected && typeof this.selected === "object") {
        return this.selected[this.itemValue];
      }

      return this.selected;
    },
    displaySelectedText() {
      return this.getValue(this.selected);
    }
  },

  watch: {
    selected(value) {
      this.$emit("change", value);
    },
    modal(value) {
      const app = document.querySelector(".application");
      if (value) {
        app.classList.add("overflow-y-hidden");

        setTimeout(() => {
          const dialogContainer = this.$refs.dialog;
          const dialog = dialogContainer.$refs.dialog;
          const card = dialog.firstElementChild;
          const list = card.querySelector(".v-card__text");
          const activedListItem = list.querySelector(".v-list__tile--active");
          const overlay = document.querySelector(".v-overlay");

          if (list && activedListItem) {
            setTimeout(() => {
              list.scrollTop =
                activedListItem.offsetTop - activedListItem.clientHeight - 110;
            });
          }

          if (overlay) document.body.appendChild(overlay);

          card.style.height = dialog.clientHeight + "px";
        }, 300);
      } else {
        const overlay = document.querySelector(".v-overlay");

        if (overlay) overlay.remove();

        app.classList.remove("overflow-y-hidden");
      }
    },
    value(value) {
      this.selectItem(value);
    }
  },

  mounted() {
    if (this.value) {
      this.selectItem(this.value);
    }
  },

  methods: {
    displayText(value) {
      if (value && typeof value === "object") {
        return value[this.itemText];
      }

      return value;
    },
    isActive(value) {
      if (value && typeof value === "object") {
        value = value[this.itemValue];
      }

      return value === this.selectedValue;
    },
    getValue(value) {
      if (typeof this.items[0] === "object" && !this.returnObject) {
        const item = _.find(this.items, [this.itemValue, value]);

        if (item !== undefined) {
          return item[this.itemText];
        }
        return null;
      } else if (typeof this.items[0] === "object" && this.returnObject) {
        return value[this.itemText];
      }

      return value;
    },
    showModal() {
      this.modal = true;
    },
    hideModal() {
      this.modal = false;
    },
    selectItem(value) {
      if (value && typeof value === "object" && !this.returnObject) {
        value = value[this.itemValue];
      }

      this.selected = value;

      this.hideModal();
    }
  }
};
</script>
