<template>
  <div
    class="v-input v-text-field v-text-field--box v-text-field--enclosed v-text-field--placeholder v-input--has-state theme--light error--text"
  >
    <div class="v-input__control">
      <div class="v-input__slot">
        <div class="v-text-field__slot">
          <input
            autocomplete="off"
            data-vv-name="id"
            required="required"
            dense=""
            type="text"
            placeholder="ID Merchant"
          />
        </div>
      </div>
      <div class="v-text-field__details">
        <div class="v-messages theme--light error--text">
          <div class="v-messages__wrapper">
            <div v-if="errorMessages" class="v-messages__message">
              {{ errorMessages }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    items:
    errorMessages: {}
  }
};
</script>
