<template>
  <div class="status-bar"></div>
</template>

<script>
import { Capacitor, Plugins, StatusBarStyle } from "@capacitor/core";

const { StatusBar } = Plugins;

export default {
  props: {
    dark: {
      type: Boolean,
      default: false
    },
    color: {
      type: String,
      default: "white"
    }
  },

  computed: {
    style() {
      if (this.dark) return StatusBarStyle.Dark;

      return StatusBarStyle.Light;
    }
  },

  created() {
    if (Capacitor.isPluginAvailable("StatusBar")) {
      StatusBar.setStyle({ style: this.style });
      StatusBar.setBackgroundColor({ color: this.color });
    }
  }
};
</script>
