<template>
  <v-toolbar color="transparent" class="header" flat>
    <router-link to="/" class="logo">
      <span class="logo__text">SixPerience</span>
    </router-link>

    <v-spacer></v-spacer>

    <v-btn flat small @click="logout">
      <v-icon class="mr-2">power_settings_new</v-icon>
      <span>Logout</span>
    </v-btn>
  </v-toolbar>
</template>

<script>
import auth from "@/api/auth";

export default {
  props: {
    home: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    user: auth.me()
  }),
  methods: {
    logout() {
      auth.logout().then(() => this.$router.push("/login"));
    }
  }
};
</script>
