<template>
  <v-app id="new-entry" class="primary" dark>
    <the-header />
    <v-container>
      <v-btn color="secondary mb-4" round @click="() => $router.push('/')">
        <v-icon class="mr-2">list</v-icon>
        <span>List</span>
      </v-btn>
      <v-toolbar flat color="secondary" dark>
        <v-toolbar-title>
          <v-icon>add_circle</v-icon>
          New Entry
        </v-toolbar-title>
      </v-toolbar>
      <v-stepper v-model="step" light>
        <v-stepper-header>
          <v-stepper-step :complete="step > 1" step="1">
            Merchant Info
          </v-stepper-step>

          <v-divider></v-divider>

          <v-stepper-step :complete="step > 2" step="2">
            OVO Assets
          </v-stepper-step>

          <v-divider></v-divider>

          <v-stepper-step step="3">
            Competitor Assets
          </v-stepper-step>
        </v-stepper-header>
        <v-toolbar flat color="primary lighten-2" dark>
          <v-toolbar-title>{{ title }}</v-toolbar-title>
        </v-toolbar>

        <v-stepper-items>
          <v-stepper-content step="1">
            <step1
              ref="step1"
              @merchant-status-change="onMerchantStatusChange"
            ></step1>
          </v-stepper-content>

          <v-stepper-content step="2">
            <step2 ref="step2"></step2>
          </v-stepper-content>

          <v-stepper-content step="3">
            <step3 ref="step3"></step3>
          </v-stepper-content>
        </v-stepper-items>
        <v-toolbar>
          <v-layout>
            <v-flex class="pr-2" xs6>
              <v-btn
                v-if="step === 1"
                flat
                @click="() => $router.push('/')"
                block
              >
                Cancel
              </v-btn>
              <v-btn
                v-else
                color="primary lighten-1"
                @click="prev"
                depressed
                round
                block
              >
                Previous
              </v-btn>
            </v-flex>
            <v-flex class="pl-2" xs6>
              <v-btn
                v-if="!finish"
                color="primary lighten-1"
                @click="next"
                depressed
                round
                block
              >
                Next
              </v-btn>
              <v-btn
                v-else
                color="secondary"
                :loading="loading"
                :disabled="loading"
                @click="submit"
                round
                block
              >
                Save
              </v-btn>
            </v-flex>
          </v-layout>
        </v-toolbar>
      </v-stepper>
    </v-container>
  </v-app>
</template>

<script>
import Step1 from "./Step1";
import Step2 from "./Step2";
import Step3 from "./Step3";

export default {
  components: {
    Step1,
    Step2,
    Step3
  },
  name: "newEntry",
  data: () => ({
    finish: false,
    form: {},
    loading: false,
    merchantNotOpen: false,
    step: 1,
    steps: ["Merchant Info", "OVO Assets", "Competitor Assets"]
  }),
  computed: {
    title() {
      return this.steps[this.step - 1];
    }
  },
  watch: {
    step(value) {
      const app = document.querySelector(".application");

      app.scrollTop = 0;

      this.finish = value === 3;
    }
  },
  mounted() {
    //
  },
  methods: {
    submit() {
      if (this.merchantNotOpen) {
        this.$refs.step1.validate().then(form => {
          this.$swal({
            title: "Tambahkan data?",
            text: "Apakah anda Yakin ingin menambahkan data toko yang tutup",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "OK"
          }).then(result => {
            if (result.value) {
              this.save(form);
            }
          });
        });
      } else {
        this.$refs.step3.validate().then(form => {
          form = Object.assign({}, this.form, form);
          this.save(form);
        });
      }
    },
    save(form) {
      this.loading = true;

      this.$request
        .post("/merchants", form)
        .then(() => {
          this.loading = false;
          this.$swal({
            title: "Success",
            text: "Data merchant telah tersimpan",
            type: "success"
          }).then(() => {
            this.$router.push("/");
          });
        })
        .catch(error => {
          this.loading = false;
          let message = "Tidak dapat menyimpan data merchant";

          console.log(error.response.data);

          if (error.response.data) {
            if (typeof error.response.data.errors !== undefined) {
              let errors = Object.values(error.response.data.errors);
              message = errors[0][0];
            } else {
              message = error.response.data.message;
            }
          }

          this.$swal({
            title: "Oops!",
            text: message,
            type: "error"
          });
        });
    },
    next() {
      this.$refs["step" + this.step].validate().then(form => {
        Object.assign(this.form, form);
        this.step++;
      });
    },
    prev() {
      if (this.step > 1) {
        this.step--;
      }
    },
    onMerchantStatusChange(value) {
      if (value !== 1) {
        this.finish = true;
        this.merchantNotOpen = true;
      } else {
        this.finish = false;
        this.merchantNotOpen = false;
      }
    }
  }
};
</script>
