<template>
  <div>
    <div class="form-group">
      <label>Sticker QR</label>
      <v-select-dialog
        v-model="form.sticker_qr"
        :items="options.stickerQr"
        placeholder="Sticker QR"
        color="secondary"
        v-validate="'required'"
        :error-messages="errors.collect('sticker_qr')"
        data-vv-name="sticker_qr"
        required
        box
      ></v-select-dialog>
    </div>

    <div v-if="form.sticker_qr === 1" class="form-group">
      <label>Kondisi Sticker</label>
      <v-select-dialog
        v-model="form.sticker_kondisi"
        :items="options.stickerCondition"
        placeholder="Kondisi Sticker"
        color="secondary"
        v-validate="'required'"
        :error-messages="errors.collect('sticker_kondisi')"
        data-vv-name="sticker_kondisi"
        required
        box
      ></v-select-dialog>
    </div>

    <div class="form-group">
      <label>Testing Cashback</label>
      <v-select-dialog
        v-model="form.testing_cashback"
        :items="options.testingCashback"
        placeholder="Testing Cashback"
        color="secondary"
        v-validate="'required'"
        :error-messages="errors.collect('testing_cashback')"
        data-vv-name="testing_cashback"
        required
        box
      ></v-select-dialog>
    </div>

    <div class="form-group">
      <label>Jumlah Spanduk</label>
      <v-text-field
        v-model="form.jumlah_spanduk"
        type="number"
        placeholder="Jumlah Spanduk"
        autocomplete="off"
        color="secondary"
        v-validate="'required'"
        :error-messages="errors.collect('jumlah_spanduk')"
        data-vv-name="jumlah_spanduk"
        required
        box
      ></v-text-field>
    </div>

    <div v-if="form.jumlah_spanduk > 0" class="form-group">
      <label>Foto Spanduk</label>
      <v-capture
        v-model="form.foto_spanduk"
        color="secondary"
        v-validate="'required'"
        :error-messages="errors.collect('foto_spanduk')"
        data-vv-name="foto_spanduk"
        required
      ></v-capture>
    </div>

    <div class="form-group">
      <label>Jumlah Wobler</label>
      <v-text-field
        v-model="form.jumlah_wobler"
        type="number"
        placeholder="Jumlah Wobler"
        autocomplete="off"
        color="secondary"
        v-validate="'required'"
        :error-messages="errors.collect('jumlah_wobler')"
        data-vv-name="jumlah_wobler"
        required
        box
      ></v-text-field>
    </div>

    <div v-if="form.jumlah_wobler > 0" class="form-group">
      <label>Foto Wobler</label>
      <v-capture
        v-model="form.foto_wobler"
        color="secondary"
        v-validate="'required'"
        :error-messages="errors.collect('foto_wobler')"
        data-vv-name="foto_wobler"
        required
      ></v-capture>
    </div>

    <div class="form-group">
      <label>Jumlah Acceptance Sticker</label>
      <v-text-field
        v-model="form.jumlah_acc_sticker"
        type="number"
        placeholder="Jumlah Acceptance Sticker"
        autocomplete="off"
        color="secondary"
        v-validate="'required'"
        :error-messages="errors.collect('jumlah_acc_sticker')"
        data-vv-name="jumlah_acc_sticker"
        required
        box
      ></v-text-field>
    </div>

    <div v-if="form.jumlah_acc_sticker > 0" class="form-group">
      <label>Foto Acceptance Sticker</label>
      <v-capture
        v-model="form.foto_acc_sticker"
        color="secondary"
        v-validate="'required'"
        :error-messages="errors.collect('foto_acc_sticker')"
        data-vv-name="foto_acc_sticker"
        required
      ></v-capture>
    </div>

    <div class="form-group">
      <label>Jumlah Poster</label>
      <v-text-field
        v-model="form.jumlah_poster"
        type="number"
        placeholder="Jumlah Poster"
        autocomplete="off"
        color="secondary"
        v-validate="'required'"
        :error-messages="errors.collect('jumlah_poster')"
        data-vv-name="jumlah_poster"
        required
        box
      ></v-text-field>
    </div>

    <div v-if="form.jumlah_poster > 0" class="form-group">
      <label>Foto Poster</label>
      <v-capture
        v-model="form.foto_poster"
        color="secondary"
        v-validate="'required'"
        :error-messages="errors.collect('foto_poster')"
        data-vv-name="foto_poster"
        required
      ></v-capture>
    </div>

    <div class="form-group">
      <label>Jumlah Tent Card</label>
      <v-text-field
        v-model="form.jumlah_tentcard"
        type="number"
        placeholder="Jumlah Tent Card"
        autocomplete="off"
        color="secondary"
        v-validate="'required'"
        :error-messages="errors.collect('jumlah_tentcard')"
        data-vv-name="jumlah_tentcard"
        required
        box
      ></v-text-field>
    </div>

    <div v-if="form.jumlah_tentcard > 0" class="form-group">
      <label>Foto Tent Card</label>
      <v-capture
        v-model="form.foto_tentcard"
        color="secondary"
        v-validate="'required'"
        :error-messages="errors.collect('foto_tentcard')"
        data-vv-name="foto_tentcard"
        required
      ></v-capture>
    </div>

    <div v-if="showKendalaPOSM" class="form-group">
      <label>Kendala POSM</label>
      <v-select-dialog
        :items="options.kendalaPOSM"
        placeholder="Pilih Kendala"
        color="secondary"
        box
        @change="onKendalPOSMChange"
      ></v-select-dialog>
      <v-textarea
        v-if="showKendalaPOSMField"
        v-model="form.kendala_posm"
        placeholder="Kendala POSM"
        autocomplete="off"
        color="secondary"
        v-validate="'required'"
        :error-messages="errors.collect('kendala_posm')"
        data-vv-name="kendala_posm"
        required
        box
      ></v-textarea>
    </div>
  </div>
</template>

<script>
import Entry from "@/mixins/entry";

export default {
  mixins: [Entry],
  data: () => ({
    options: {
      stickerQr: [{ value: 1, text: "Ada" }, { value: 0, text: "Tidak Ada" }],
      stickerCondition: [
        { value: 1, text: "Baik" },
        { value: 0, text: "Perlu Pergantian" }
      ],
      testingCashback: [
        { value: 1, text: "Dapat Digunakan" },
        { value: 0, text: "Tidak Dapat Digunakan" }
      ],
      kendalaPOSM: [
        "Qr belum terpasang",
        "Tidak bekerja sama dgn ovo",
        "Merchant belum aktif",
        "Pergantian nama toko",
        "Ada Branding",
        "Tidak ada Sticker QR",
        "Menolak Pemasangan POSM",
        "Sticker QR tidak dapat digunakan",
        "Menunggu Pemilik Merchant",
        "Lainnya"
      ]
    },
    form: {
      sticker_qr: null,
      sticker_kondisi: null,
      testing_cashback: null,
      jumlah_spanduk: null,
      foto_spanduk: null,
      jumlah_wobler: null,
      foto_wobler: null,
      jumlah_acc_sticker: null,
      foto_acc_sticker: null,
      jumlah_poster: null,
      foto_poster: null,
      jumlah_tentcard: null,
      foto_tentcard: null,
      kendala_posm: null
    },
    showKendalaPOSMField: false
  }),
  computed: {
    showKendalaPOSM() {
      return (
        this.form.jumlah_spanduk === "0" &&
        this.form.jumlah_wobler === "0" &&
        this.form.jumlah_acc_sticker === "0" &&
        this.form.jumlah_poster === "0" &&
        this.form.jumlah_tentcard === "0"
      );
    }
  },
  methods: {
    onKendalPOSMChange(value) {
      if (value === "Lainnya") {
        this.showKendalaPOSMField = true;
        this.form.kendala_posm = "";
      } else {
        this.showKendalaPOSMField = false;
        this.form.kendala_posm = value;
      }
    }
  }
};
</script>
