<template>
  <div>
    <div class="form-group">
      <label>Apakah Gopay ada Promo?</label>
      <v-select-dialog
        v-model="form.gopay_promo"
        :items="options.gopayPromo"
        placeholder="Gopay Promo"
        color="secondary"
        v-validate="'required'"
        :error-messages="errors.collect('gopay_promo')"
        data-vv-name="gopay_promo"
        required
        box
      ></v-select-dialog>
    </div>

    <template v-if="form.gopay_promo && form.gopay_promo !== 'Tidak'">
      <div class="form-group">
        <label>Mekanisme Promo</label>
        <v-textarea
          v-model="form.gopay_mekanisme"
          placeholder="Mekanisme Promo"
          autocomplete="off"
          color="secondary"
          v-validate="'required'"
          :error-messages="errors.collect('gopay_mekanisme')"
          data-vv-name="gopay_mekanisme"
          required
          box
        ></v-textarea>
      </div>
      <div class="form-group">
        <label>Periode Promo</label>
        <v-layout row wrap>
          <v-flex xs6>
            <date-pciker
              v-model="form.gopay_promo_start"
              placeholder="Dari"
              color="secondary"
              type="month"
              format="MMM"
              v-validate="'required'"
              :error-messages="errors.collect('gopay_promo_start')"
              data-vv-name="gopay_promo_start"
              required
              box
            ></date-pciker>
          </v-flex>
          <v-flex xs6>
            <date-pciker
              v-model="form.gopay_promo_end"
              placeholder="Sampai"
              color="secondary"
              type="month"
              format="MMM"
              v-validate="'required'"
              :error-messages="errors.collect('gopay_promo_end')"
              data-vv-name="gopay_promo_end"
              required
              box
            ></date-pciker>
          </v-flex>
        </v-layout>
      </div>
    </template>

    <div class="form-group">
      <label>Spanduk</label>
      <v-text-field
        v-model="form.gopay_spanduk"
        type="number"
        placeholder="Spanduk"
        autocomplete="off"
        color="secondary"
        v-validate="'required'"
        :error-messages="errors.collect('gopay_spanduk')"
        data-vv-name="gopay_spanduk"
        required
        box
      ></v-text-field>
    </div>

    <div class="form-group">
      <label>Wobler</label>
      <v-text-field
        v-model="form.gopay_wobler"
        type="number"
        placeholder="Wobler"
        autocomplete="off"
        color="secondary"
        v-validate="'required'"
        :error-messages="errors.collect('gopay_wobler')"
        data-vv-name="gopay_wobler"
        required
        box
      ></v-text-field>
    </div>

    <div class="form-group">
      <label>Acceptance Sticker</label>
      <v-text-field
        v-model="form.gopay_acc_sticker"
        type="number"
        placeholder="Acceptance Sticker"
        autocomplete="off"
        color="secondary"
        v-validate="'required'"
        :error-messages="errors.collect('gopay_acc_sticker')"
        data-vv-name="gopay_acc_sticker"
        required
        box
      ></v-text-field>
    </div>

    <div class="form-group">
      <label>Poster</label>
      <v-text-field
        v-model="form.gopay_poster"
        type="number"
        placeholder="Poster"
        autocomplete="off"
        color="secondary"
        v-validate="'required'"
        :error-messages="errors.collect('gopay_poster')"
        data-vv-name="gopay_poster"
        required
        box
      ></v-text-field>
    </div>

    <div class="form-group">
      <label>Tent Card</label>
      <v-text-field
        v-model="form.gopay_tentcard"
        type="number"
        placeholder="Tent Card"
        autocomplete="off"
        color="secondary"
        v-validate="'required'"
        :error-messages="errors.collect('gopay_tentcard')"
        data-vv-name="gopay_tentcard"
        required
        box
      ></v-text-field>
    </div>
  </div>
</template>

<script>
import Entry from "@/mixins/entry";

export default {
  mixins: [Entry],
  data: () => ({
    options: {
      gopayPromo: ["Tidak", "Cashback", "Discount", "Point"]
    },
    form: {
      gopay_promo: null,
      gopay_mekanisme: null,
      gopay_promo_start: null,
      gopay_promo_end: null,
      gopay_spanduk: null,
      gopay_wobler: null,
      gopay_acc_sticker: null,
      gopay_poster: null,
      gopay_tentcard: null
    }
  })
};
</script>
