<template>
  <div>
    <input type="hidden" name="latitude" :value="form.latitude" />
    <input type="hidden" name="longitude" :value="form.longitude" />

    <div class="form-group">
      <label>ID Merchant</label>
      <v-text-field
        v-model="form.identity"
        type="number"
        placeholder="ID Merchant"
        autocomplete="off"
        color="secondary"
        v-validate="'required'"
        :error-messages="errors.collect('id')"
        data-vv-name="id"
        required
        box
        dense
        @input="onInputID"
      ></v-text-field>
    </div>

    <div class="form-group">
      <label>Grab Pay ID</label>
      <v-text-field
        v-model="form.grab_pay_id"
        placeholder="Grab Pay ID"
        autocomplete="off"
        color="secondary"
        v-validate="'required'"
        :error-messages="errors.collect('grab_pay_id')"
        data-vv-name="grab_pay_id"
        required
        box
        readonly
      ></v-text-field>
    </div>

    <div class="form-group">
      <label>Nama Merchant</label>
      <v-text-field
        v-model="form.nama_merchant"
        placeholder="Nama Merchant"
        autocomplete="off"
        color="secondary"
        v-validate="'required'"
        :error-messages="errors.collect('nama_merchant')"
        data-vv-name="nama_merchant"
        required
        box
        readonly
      ></v-text-field>
    </div>

    <div class="form-group">
      <label>Area</label>
      <v-select-dialog
        v-model="form.area"
        :items="options.cities"
        placeholder="Pilih Area"
        color="secondary"
        v-validate="'required'"
        :error-messages="errors.collect('area')"
        data-vv-name="area"
        required
        box
      ></v-select-dialog>
    </div>

    <div class="form-group">
      <label>Alamat</label>
      <v-textarea
        v-model="form.alamat"
        placeholder="Alamat"
        autocomplete="off"
        color="secondary"
        v-validate="'required'"
        :error-messages="errors.collect('alamat')"
        data-vv-name="alamat"
        required
        box
      ></v-textarea>
    </div>

    <div class="form-group">
      <label>Tipe Toko</label>
      <v-select-dialog
        v-model="form.tipe_toko"
        :items="options.types"
        placeholder="Tipe Toko"
        v-validate="'required'"
        :error-messages="errors.collect('tipe_toko')"
        data-vv-name="tipe_toko"
        required
        box
      ></v-select-dialog>
    </div>

    <div class="form-group">
      <label>Kelurahan</label>
      <v-text-field
        v-model="form.kelurahan"
        placeholder="Kelurahan"
        autocomplete="off"
        color="secondary"
        v-validate="'required'"
        :error-messages="errors.collect('kelurahan')"
        data-vv-name="kelurahan"
        required
        box
      ></v-text-field>
    </div>

    <div class="form-group">
      <label>Kecamatan</label>
      <v-text-field
        v-model="form.kecamatan"
        placeholder="Kecamatan"
        autocomplete="off"
        color="secondary"
        v-validate="'required'"
        :error-messages="errors.collect('kecamatan')"
        data-vv-name="kecamatan"
        required
        box
      ></v-text-field>
    </div>

    <div class="form-group">
      <label>Kota/Kabupaten</label>
      <v-select-dialog
        v-model="form.kabupaten"
        :items="options.cities"
        placeholder="Kota/Kabupaten"
        v-validate="'required'"
        :error-messages="errors.collect('kabupaten')"
        data-vv-name="kabupaten"
        required
        box
      ></v-select-dialog>
    </div>

    <div class="form-group">
      <label>Patokan</label>
      <v-text-field
        v-model="form.patokan"
        placeholder="Patokan"
        autocomplete="off"
        color="secondary"
        v-validate="'required'"
        :error-messages="errors.collect('patokan')"
        data-vv-name="patokan"
        required
        box
      ></v-text-field>
    </div>

    <div class="form-group">
      <label>Foto Merchant</label>
      <v-capture
        v-model="form.foto_merchant"
        color="secondary"
        v-validate="'required'"
        :error-messages="errors.collect('foto_merchant')"
        data-vv-name="foto_merchant"
        required
      ></v-capture>
    </div>

    <div class="form-group">
      <label>Status Merchant</label>
      <v-select-dialog
        v-model="form.status_merchant"
        :items="options.statuses"
        placeholder="Status Merchant"
        v-validate="'required'"
        :error-messages="errors.collect('status_merchant')"
        data-vv-name="status_merchant"
        required
        box
      ></v-select-dialog>
    </div>

    <div class="form-group">
      <label>Kendala Dari Merchant</label>
      <v-select-dialog
        v-model="form.kendala"
        :items="options.merchantProblems"
        placeholder="Pilih"
        box
      ></v-select-dialog>
    </div>

    <div v-if="form.status_merchant === 1">
      <div class="form-group">
        <label>Nomor Handphone</label>
        <v-text-field
          v-model="form.no_hp"
          placeholder="Nomor Handphone"
          autocomplete="off"
          color="secondary"
          v-validate="'required'"
          :error-messages="errors.collect('no_hp')"
          data-vv-name="no_hp"
          required
          box
        ></v-text-field>
      </div>

      <div class="form-group">
        <label>
          Apakah Merchant sudah mengerti penggunaan APK OVO ?
        </label>
        <v-select-dialog
          v-model="form.mengerti_ovo"
          :items="options.booleanOps"
          placeholder="Pilih"
          v-validate="'required'"
          :error-messages="errors.collect('mengerti_ovo')"
          data-vv-name="mengerti_ovo"
          required
          box
        ></v-select-dialog>
      </div>

      <div class="form-group">
        <label>
          Apakah Merchant mengetahui promo OVO ?
        </label>
        <v-select-dialog
          v-model="form.tahu_promo_ovo"
          :items="options.booleanOps"
          placeholder="Pilih"
          v-validate="'required'"
          :error-messages="errors.collect('tahu_promo_ovo')"
          data-vv-name="tahu_promo_ovo"
          required
          box
        ></v-select-dialog>
      </div>

      <div class="form-group">
        <label>
          Apakah Merchant partner Gopay ?
        </label>
        <v-select-dialog
          v-model="form.partner_gopay"
          :items="options.booleanOps"
          placeholder="Pilih"
          v-validate="'required'"
          :error-messages="errors.collect('partner_gopay')"
          data-vv-name="partner_gopay"
          required
          box
        ></v-select-dialog>
      </div>

      <div class="form-group">
        <label>
          Apakah Costumer Sering menggunakan Ovo atau Gopay ?
        </label>
        <v-select-dialog
          v-model="form.ovo_or_gopay"
          :items="options.ovoOrGopay"
          placeholder="Pilih"
          v-validate="'required'"
          :error-messages="errors.collect('ovo_or_gopay')"
          data-vv-name="ovo_or_gopay"
          required
          box
        ></v-select-dialog>
      </div>
    </div>
  </div>
</template>

<script>
import Entry from "@/mixins/entry";
import GPS from "@/api/gps.js";

export default {
  mixins: [Entry],
  data: () => ({
    options: {
      cities: [
        // "Bekasi",
        // "Bogor",
        // "Depok",
        // "Jakarta Barat",
        // "Jakarta Pusat",
        // "Jakarta Selatan",
        // "Jakarta Timur",
        // "Jakarta Utara",
        // "Tangerang",
        // "Tangerang Selatan",
        "Makassar",
        "Bandung",
        "Bali",
        "Jogyakarta",
        "Surabaya"
      ],
      statuses: [
        { value: 1, text: "Buka" },
        { value: 2, text: "Tutup Sementara" },
        { value: 0, text: "Tutup Permanen" },
        { value: 3, text: "Tidak Ditemukan" }
      ],
      types: ["FnB", "Non FnB"],
      booleanOps: [{ value: 1, text: "Ya" }, { value: 0, text: "Tidak" }],
      ovoOrGopay: [
        { value: 1, text: "OVO" },
        { value: 0, text: "Gopay" },
        { value: 2, text: "Tidak bekerja sama dengan pihak manapun" }
      ],
      merchantProblems: [
        "ID Merchant Double / Merchant Double",
        "Aplikasi Merchant tidak aktif / tidak punya Aplikasi Merchant OVO",
        "Pindah Alamat",
        "Tidak pernah merasa mendaftar OVO",
        "Tidak lagi aktif menggunakan OVO",
        "Tidak lagi mau menggunakan OVO / Menolak menggunakan OVO",
        "Tidak punya aplikasi Merchant OVO / Merchant OVO belom aktif",
        "Issue Operasional (alasan lain-lain)",
        "Outlet tidak ketemu",
        "Toko Tutup Permanen",
        "Toko Tutup Sementara"
      ]
    },
    form: {
      identity: null,
      latitude: null,
      longitude: null,
      nama_merchant: null,
      area: null,
      alamat: null,
      kelurahan: null,
      kecamatan: null,
      kabupaten: null,
      patokan: null,
      foto_merchant: null,
      status_merchant: null,
      kendala: null,
      no_hp: null,
      tipe_toko: null,
      mengerti_ovo: null,
      tahu_promo_ovo: null,
      partner_gopay: null,
      ovo_or_gopay: null
    }
  }),

  watch: {
    "form.status_merchant": function(value) {
      this.$emit("merchant-status-change", value);
    }
  },

  methods: {
    onInputID(value) {
      this.$request
        .get(`/listing/${value}`)
        .then(({ data }) => {
          this.form.grab_pay_id = data.grab_pay_id;
          this.form.nama_merchant = data.merchant_name;
        })
        .catch(error => {
          this.form.grab_pay_id = null;
          this.form.nama_merchant = null;
        });
    }
  },

  created() {
    GPS.getCurrentPosition().then(coords => {
      this.form.latitude = coords.latitude;
      this.form.longitude = coords.longitude;
    });
  }
};
</script>
