.capture {
  background: rgba(0,0,0,.06);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  min-height: 56px;
  color: inherit;
  margin-bottom: 8px;
  position: relative;
  transition: .3s cubic-bezier(.25,.8,.5,1);
  width: 100%;
  border-bottom: 2px solid rgba(0,0,0,0.42);
  padding: 1rem;

  &__preview canvas, &__preview img {
    max-width: 100%;
    border-radius: 5px;
  }

  &__progress {
    width: 44px;
    height: 44px;
    color: $secondary;
  }

  &.has-invalid {
    border-color: #ff5252;
  }
}