.form-group {
  margin-bottom: 0.5rem;

  > label {
    color: #333;
    display: block;
    margin-bottom: 0.5rem;
  }
}

.v-text-field--placeholder input {
  margin-top: 0.8rem;
}

.img-field {
  max-width: 100%;
  border-radius: 5px;
}