.logo {
  display: flex;
  align-items: center;
  text-decoration: none !important;

  &__img {
    width: 80px;
  }

  &__text {
    display: inline-block;
    // margin-left: 0.75rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
  }
}