<template>
  <v-app id="new-entry" class="primary" dark>
    <the-header />
    <v-container>
      <v-btn color="secondary mb-4" round @click="() => $router.push('/')">
        <v-icon class="mr-2">list</v-icon>
        <span>List</span>
      </v-btn>
      <v-toolbar flat color="secondary" dark>
        <v-toolbar-title>
          <v-icon>notes</v-icon>
          Detail
        </v-toolbar-title>
      </v-toolbar>
      <v-stepper v-model="step" non-linear light>
        <v-stepper-header>
          <v-stepper-step editable step="1">
            Merchant Info
          </v-stepper-step>

          <v-divider></v-divider>

          <v-stepper-step editable step="2">
            OVO Assets
          </v-stepper-step>

          <v-divider></v-divider>

          <v-stepper-step editable step="3">
            Competitor Assets
          </v-stepper-step>
        </v-stepper-header>
        <v-toolbar flat color="primary lighten-2" dark>
          <v-toolbar-title>{{ title }}</v-toolbar-title>
        </v-toolbar>

        <v-stepper-items>
          <v-stepper-content step="1">
            <step1 ref="step1" :form="form" @merchant-status-change="onMerchantStatusChange"></step1>
          </v-stepper-content>

          <v-stepper-content step="2">
            <step2 ref="step2" :form="form"></step2>
          </v-stepper-content>

          <v-stepper-content step="3">
            <step3 ref="step3" :form="form"></step3>
          </v-stepper-content>
        </v-stepper-items>
        <v-toolbar>
          <v-layout>
            <v-flex class="pr-2" xs6>
              <v-btn
                v-if="step === 1"
                flat
                @click="() => $router.push('/')"
                block
              >
                Back
              </v-btn>
              <v-btn
                v-else
                color="primary lighten-1"
                @click="prev"
                depressed
                round
                block
              >
                Previous
              </v-btn>
            </v-flex>
            <v-flex class="pl-2" xs6>
              <v-btn
                v-if="!finish"
                color="primary lighten-1"
                @click="next"
                depressed
                round
                block
              >
                Next
              </v-btn>
            </v-flex>
          </v-layout>
        </v-toolbar>
      </v-stepper>
    </v-container>
  </v-app>
</template>

<script>
import Step1 from "./Step1";
import Step2 from "./Step2";
import Step3 from "./Step3";

export default {
  components: {
    Step1,
    Step2,
    Step3
  },
  data: () => ({
    finish: false,
    form: {},
    loading: false,
    merchantNotOpen: false,
    step: 1,
    steps: ["Merchant Info", "OVO Assets", "Competitor Assets"]
  }),
  computed: {
    title() {
      return this.steps[this.step - 1];
    }
  },
  watch: {
    step(value) {
      const app = document.querySelector(".application");

      app.scrollTop = 0;

      if (value === 3) {
        this.finish = true;
      }
    }
  },
  created() {
    this.fetchData();
  },
  methods: {
    fetchData() {
      const id = this.$route.params.id;

      this.$request
        .get("/merchant/" + id)
        .then(({ data }) => {
          this.form = data.data;
        })
        .catch(error => {
          let message = "Can't load merchant data";

          if (error.response.data.message) {
            message = error.response.data.message;
          }

          this.$swal({
            title: "Oops",
            text: message,
            type: "error"
          }).then(() => {
            this.$router.push("/");
          });
        });
    },
    next() {
      this.step++;
    },
    prev() {
      if (this.step > 1) {
        this.step--;
      }
    },
    onMerchantStatusChange(value) {
      if (value !== "Buka") {
        this.finish = true;
        this.merchantNotOpen = true;
      } else {
        this.finish = false;
        this.merchantNotOpen = false;
      }
    }
  }
};
</script>
