<template>
  <v-dialog v-model="dialog" attach="body" persistent max-width="600px" light>
    <template v-slot:activator="{ on }">
      <v-btn color="primary" small round v-on="on">Edit</v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Edit Alamat</span>
      </v-card-title>
      <v-card-text>
        <v-textarea
          v-model="address"
          placeholder="Alamat"
          autocomplete="off"
          color="secondary"
          v-validate="'required'"
          :error-messages="errors.collect('alamat')"
          data-vv-name="alamat"
          required
          box
        ></v-textarea>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" flat @click="cancel">Cancel</v-btn>
        <v-btn
          color="primary"
          :loading="loading"
          :disabled="loading"
          @click="save"
        >
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    id: Number,
    value: String
  },
  data: () => ({
    dialog: false,
    address: null,
    loading: false
  }),
  watch: {
    value(value) {
      this.address = value;
    }
  },
  methods: {
    save() {
      this.$validator.validateAll().then(valid => {
        if (valid) {
          this.put();
          return;
        }
      });
    },
    put() {
      this.loading = true;

      this.$request
        .put(`/merchant/${this.id}/address`, { address: this.address })
        .then(({ data }) => {
          this.loading = false;
          this.$emit("input", this.address);
          this.dialog = false;
        })
        .catch(error => {
          this.loading = false;
          let message = "Tidak dapat menyimpan data";

          if (error.response.data) {
            if (typeof error.response.data.errors !== undefined) {
              let errors = Object.values(error.response.data.errors);
              message = errors[0][0];
            } else {
              message = error.response.data.message;
            }
          }

          this.$swal({
            title: "Oops!",
            text: message,
            type: "error"
          });
        });
    },
    cancel() {
      this.dialog = false;
      this.address = this.value;
    }
  }
};
</script>
