<template>
  <div>
    <div class="form-group">
      <label>ID Merchant</label>
      <v-text-field
        v-model="form.identity"
        placeholder="ID Merchant"
        autocomplete="off"
        color="secondary"
        box
        readonly
      ></v-text-field>
    </div>

    <div class="form-group">
      <label>Grab Pay ID</label>
      <v-text-field
        v-model="form.grab_pay_id"
        placeholder="Grab Pay ID"
        autocomplete="off"
        color="secondary"
        required
        box
        readonly
      ></v-text-field>
    </div>

    <div class="form-group">
      <label>Nama Merchant</label>
      <v-text-field
        v-model="form.nama_merchant"
        placeholder="Nama Merchant"
        autocomplete="off"
        color="secondary"
        box
        readonly
      ></v-text-field>
    </div>

    <div class="form-group">
      <label>Area</label>
      <v-text-field
        v-model="form.area"
        placeholder="Area"
        autocomplete="off"
        color="secondary"
        box
        readonly
      ></v-text-field>
    </div>

    <div class="form-group">
      <v-layout row wrap align-center>
        <v-flex xs6>
          <label style="color:#333;">Alamat</label>
        </v-flex>
        <v-flex class="text-xs-right" xs6>
          <edit-address :id="form.id" v-model="form.alamat" />
        </v-flex>
      </v-layout>
      <v-textarea
        v-model="form.alamat"
        placeholder="Alamat"
        autocomplete="off"
        color="secondary"
        box
        readonly
      ></v-textarea>
    </div>

    <div class="form-group">
      <label>Tipe Toko</label>
      <v-text-field
        v-model="form.tipe_toko"
        placeholder="Tipe Toko"
        autocomplete="off"
        color="secondary"
        box
        readonly
      ></v-text-field>
    </div>

    <div class="form-group">
      <label>Kelurahan</label>
      <v-text-field
        v-model="form.kelurahan"
        placeholder="Kelurahan"
        autocomplete="off"
        color="secondary"
        box
        readonly
      ></v-text-field>
    </div>

    <div class="form-group">
      <label>Kecamatan</label>
      <v-text-field
        v-model="form.kecamatan"
        placeholder="Kecamatan"
        autocomplete="off"
        color="secondary"
        box
        readonly
      ></v-text-field>
    </div>

    <div class="form-group">
      <label>Kota/Kabupaten</label>
      <v-text-field
        v-model="form.kabupaten"
        placeholder="Kota/Kabupaten"
        autocomplete="off"
        color="secondary"
        box
        readonly
      ></v-text-field>
    </div>

    <div class="form-group">
      <label>Patokan</label>
      <v-text-field
        v-model="form.patokan"
        placeholder="Patokan"
        autocomplete="off"
        color="secondary"
        box
        readonly
      ></v-text-field>
    </div>

    <div class="form-group">
      <label>Foto Merchant</label>
      <v-capture
        v-model="form.foto_merchant"
        color="secondary"
        readonly
      ></v-capture>
    </div>

    <div class="form-group">
      <label>Status Merchant</label>
      <v-text-field
        v-model="form.status_merchant"
        placeholder="Status Merchant"
        autocomplete="off"
        color="secondary"
        box
        readonly
      ></v-text-field>
    </div>

    <div class="form-group">
      <label>Kendala Dari Merchant</label>
      <v-textarea
        v-model="form.kendala"
        placeholder="Kendala Dari Merchant"
        box
        readonly
      ></v-textarea>
    </div>

    <div v-show="form.status_merchant === 'Buka'">
      <div class="form-group">
        <label>Nomor Handphone</label>
        <v-text-field
          v-model="form.no_hp"
          placeholder="Nomor Handphone"
          autocomplete="off"
          color="secondary"
          box
          readonly
        ></v-text-field>
      </div>

      <div class="form-group">
        <label>
          Apakah Merchant sudah mengerti penggunaan APK OVO ?
        </label>
        <v-text-field
          v-model="form.mengerti_ovo"
          autocomplete="off"
          color="secondary"
          box
          readonly
        ></v-text-field>
      </div>

      <div class="form-group">
        <label>
          Apakah Merchant mengetahui promo OVO ?
        </label>
        <v-text-field
          v-model="form.tahu_promo_ovo"
          autocomplete="off"
          color="secondary"
          box
          readonly
        ></v-text-field>
      </div>

      <div class="form-group">
        <label>
          Apakah Merchant partner Gopay ?
        </label>
        <v-text-field
          v-model="form.partner_gopay"
          autocomplete="off"
          color="secondary"
          box
          readonly
        ></v-text-field>
      </div>

      <div class="form-group">
        <label>
          Apakah Costumer Sering menggunakan Ovo atau Gopay ?
        </label>
        <v-text-field
          v-model="form.ovo_or_gopay"
          autocomplete="off"
          color="secondary"
          box
          readonly
        ></v-text-field>
      </div>
    </div>
  </div>
</template>

<script>
import EditAddress from "./EditAddress";

export default {
  components: { EditAddress },
  props: {
    form: {
      type: Object,
      required: true
    }
  },
  watch: {
    "form.status_merchant": function(value) {
      this.$emit("merchant-status-change", value);
    }
  }
};
</script>
