<template>
  <div>
    <div class="form-group">
      <label>Sticker QR</label>
      <v-text-field
        v-model="form.sticker_qr"
        placeholder="Sticker QR"
        autocomplete="off"
        color="secondary"
        box
        readonly
      ></v-text-field>
    </div>

    <div v-if="form.sticker_qr === 'Ada'" class="form-group">
      <label>Kondisi Sticker</label>
      <v-text-field
        v-model="form.sticker_kondisi"
        placeholder="Kondisi Sticker"
        autocomplete="off"
        color="secondary"
        box
        readonly
      ></v-text-field>
    </div>

    <div class="form-group">
      <label>Testing Cashback</label>
      <v-text-field
        v-model="form.testing_cashback"
        placeholder="Testing Cashback"
        autocomplete="off"
        color="secondary"
        box
        readonly
      ></v-text-field>
    </div>

    <div class="form-group">
      <label>Jumlah Spanduk</label>
      <v-text-field
        v-model="form.jumlah_spanduk"
        type="number"
        placeholder="Jumlah Spanduk"
        autocomplete="off"
        color="secondary"
        box
        readonly
      ></v-text-field>
    </div>

    <div v-if="form.jumlah_spanduk > 0" class="form-group">
      <label>Foto Spanduk</label>
      <v-capture
        v-model="form.foto_spanduk"
        color="secondary"
        readonly
      ></v-capture>
    </div>

    <div class="form-group">
      <label>Jumlah Wobler</label>
      <v-text-field
        v-model="form.jumlah_wobler"
        type="number"
        placeholder="Jumlah Wobler"
        autocomplete="off"
        color="secondary"
        box
        readonly
      ></v-text-field>
    </div>

    <div v-if="form.jumlah_wobler > 0" class="form-group">
      <label>Foto Wobler</label>
      <v-capture
        v-model="form.foto_wobler"
        color="secondary"
        readonly
      ></v-capture>
    </div>

    <div class="form-group">
      <label>Jumlah Acceptance Sticker</label>
      <v-text-field
        v-model="form.jumlah_acc_sticker"
        type="number"
        placeholder="Jumlah Acceptance Sticker"
        autocomplete="off"
        color="secondary"
        box
        readonly
      ></v-text-field>
    </div>

    <div v-if="form.jumlah_acc_sticker > 0" class="form-group">
      <label>Foto Acceptance Sticker</label>
      <v-capture
        v-model="form.foto_acc_sticker"
        color="secondary"
        readonly
      ></v-capture>
    </div>

    <div class="form-group">
      <label>Jumlah Poster</label>
      <v-text-field
        v-model="form.jumlah_poster"
        type="number"
        placeholder="Jumlah Poster"
        autocomplete="off"
        color="secondary"
        box
        readonly
      ></v-text-field>
    </div>

    <div v-if="form.jumlah_poster > 0" class="form-group">
      <label>Foto Poster</label>
      <v-capture
        v-model="form.foto_poster"
        color="secondary"
        readonly
      ></v-capture>
    </div>

    <div class="form-group">
      <label>Jumlah Tent Card</label>
      <v-text-field
        v-model="form.jumlah_tentcard"
        type="number"
        placeholder="Jumlah Tent Card"
        autocomplete="off"
        color="secondary"
        box
        readonly
      ></v-text-field>
    </div>

    <div v-if="form.jumlah_tentcard > 0" class="form-group">
      <label>Foto Tent Card</label>
      <v-capture
        v-model="form.foto_tentcard"
        color="secondary"
        readonly
      ></v-capture>
    </div>

    <div v-if="showKendalaPOSM" class="form-group">
      <label>Kendala POSM</label>
      <v-textarea
        v-model="form.kendala_posm"
        placeholder="Kendala POSM"
        autocomplete="off"
        color="secondary"
        box
        readonly
      ></v-textarea>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    form: {
      type: Object,
      required: true
    }
  },
  computed: {
    showKendalaPOSM() {
      return (
        this.form.jumlah_spanduk === 0 &&
        this.form.jumlah_wobler === 0 &&
        this.form.jumlah_acc_sticker === 0 &&
        this.form.jumlah_poster === 0 &&
        this.form.jumlah_tentcard === 0
      );
    }
  }
};
</script>
