<template>
  <div>
    <div class="form-group">
      <label>Apakah Gopay ada Promo?</label>
      <v-text-field
        v-model="form.gopay_promo"
        placeholder="Gopay Promo"
        autocomplete="off"
        color="secondary"
        box
        readonly
      ></v-text-field>
    </div>

    <template v-if="form.gopay_promo && form.gopay_promo !== 'Tidak'">
      <div class="form-group">
        <label>Mekanisme Promo</label>
        <v-textarea
          v-model="form.gopay_mekanisme"
          placeholder="Mekanisme Promo"
          autocomplete="off"
          color="secondary"
          box
          readonly
        ></v-textarea>
      </div>
      <div class="form-group">
        <label>Periode Promo</label>
        <v-text-field
          v-model="form.gopay_promo_period"
          placeholder="Periode Promo"
          autocomplete="off"
          color="secondary"
          box
          readonly
        ></v-text-field>
      </div>
    </template>

    <div class="form-group">
      <label>Spanduk</label>
      <v-text-field
        v-model="form.gopay_spanduk"
        type="number"
        placeholder="Spanduk"
        autocomplete="off"
        color="secondary"
        box
        readonly
      ></v-text-field>
    </div>

    <div class="form-group">
      <label>Wobler</label>
      <v-text-field
        v-model="form.gopay_wobler"
        type="number"
        placeholder="Wobler"
        autocomplete="off"
        color="secondary"
        box
        readonly
      ></v-text-field>
    </div>

    <div class="form-group">
      <label>Acceptance Sticker</label>
      <v-text-field
        v-model="form.gopay_acc_sticker"
        type="number"
        placeholder="Acceptance Sticker"
        autocomplete="off"
        color="secondary"
        box
        readonly
      ></v-text-field>
    </div>

    <div class="form-group">
      <label>Poster</label>
      <v-text-field
        v-model="form.gopay_poster"
        type="number"
        placeholder="Poster"
        autocomplete="off"
        color="secondary"
        box
        readonly
      ></v-text-field>
    </div>

    <div class="form-group">
      <label>Tent Card</label>
      <v-text-field
        v-model="form.gopay_tentcard"
        type="number"
        placeholder="Tent Card"
        autocomplete="off"
        color="secondary"
        box
        readonly
      ></v-text-field>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    form: {
      type: Object,
      required: true
    }
  }
};
</script>
