<template>
  <div id="app" class="application-wrapper">
    <transition name="slide">
      <router-view />
    </transition>

    <v-snackbar
      v-model="$root.snackbar"
      :color="$root.snackbarType"
      :timeout="3000"
      multi-line
      bottom
      right
    >
      {{ $root.snackbarText }}
      <v-btn @click="$root.snackbar = false" icon>
        <v-icon>close</v-icon>
      </v-btn>
    </v-snackbar>
  </div>
</template>
